[tool.poetry]
name = "aiovodafone"
version = "0.3.2"
description = "Python library to control Vodafone Station"
authors = ["Simone Chemelli <simone.chemelli@gmail.com>"]
license = "Apache Software License 2.0"
readme = "README.md"
repository = "https://github.com/chemelli74/aiovodafone"
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries",
]
packages = [
    { include = "aiovodafone", from = "src" },
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/chemelli74/aiovodafone/issues"
"Changelog" = "https://github.com/chemelli74/aiovodafone/blob/main/CHANGELOG.md"

[tool.poetry.dependencies]
python = "^3.10"
aiohttp = "*"
beautifulsoup4 = "*"

[tool.poetry.group.dev.dependencies]
pytest = "^7.0"
pytest-cov = ">=3,<5"

[tool.semantic_release]
branch = "main"
version_toml = "pyproject.toml:tool.poetry.version"
version_variable = "src/aiovodafone/__init__.py:__version__"
build_command = "pip install poetry && poetry build"

[tool.pytest.ini_options]
addopts = "-v -Wdefault --cov=aiovodafone --cov-report=term-missing:skip-covered"
pythonpath = ["src"]

[tool.coverage.run]
branch = true

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "@overload",
    "if TYPE_CHECKING",
    "raise NotImplementedError",
    'if __name__ == "__main__":',
]

[tool.isort]
profile = "black"
known_first_party = ["aiovodafone", "tests"]

[tool.mypy]
check_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_untyped_defs = true
mypy_path = "src/"
no_implicit_optional = true
show_error_codes = true
warn_unreachable = true
warn_unused_ignores = true
exclude = [
    'setup.py',
]

[[tool.mypy.overrides]]
module = "tests.*"
allow_untyped_defs = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
